[submodule "themes/volantis"]
	path = themes/volantis
	url = https://ghproxy.com/https://github.com/ZucchiniY/volantis.git
[submodule "source"]
	path = source
	url = git@github.com:ZucchiniY/markdown.git
