[submodule "themes/volantis"]
	path = themes/volantis
	url = https://ghproxy.com/https://github.com/ZucchiniY/volantis.git
[submodule "sources"]
	path = source
	url = https://github.com/zucchiniy/markdown
